.payment-form-container {
  height: 300px;
  display: flex;
  flex-direction: column;
  margin-left: auto;

  .form-container {
    height: 100px;
    min-width: 500px;

    @media screen and (max-width: 800px) {
      min-width: unset;
      font-size: 0.8rem;
    }

    .payment-button {
      width: auto;
      height: 50px;
      letter-spacing: 0.5px;
      line-height: 50px;
      padding: 0 35px 0 35px;
      font-size: 15px;
      background-color: black;
      color: white;
      text-transform: uppercase;
      font-family: "Open Sans Condensed";
      font-weight: bolder;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      justify-content: center;

      margin-left: auto;
      margin-top: 30px;

      &:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
      }

      .loading {
        width: 20px;
        height: 20px;
        margin-top: 13px;
        border: 3px solid rgba(195, 195, 195, 0.6);
        border-radius: 50%;
        border-top-color: #636767;
        animation: spin 1s ease-in-out infinite;
        -webkit-animation: spin 1s ease-in-out infinite;
        @keyframes spin {
          to {
            -webkit-transform: rotate(360deg);
          }
        }
        @-webkit-keyframes spin {
          to {
            -webkit-transform: rotate(360deg);
          }
        }
      }

      @media screen and (max-width: 800px) {
        min-width: unset;
        font-size: 0.8rem;
        padding: 0 20px 0 20px;
      }
    }
  }
}
