.cart-dropdown-container {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #393838;
  top: 90px;
  right: 40px;
  z-index: 5;

  &::before {
    content: '';
    border-style: solid;
    border-width: 15px 15px 15px 15px;
    border-color: transparent transparent #393838 transparent;
    position: absolute;
    top: -30px;
    right: 20px;
  }
  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;

    .empty-message {
      color: white;
    }
  }

  button {
    margin-top: auto;
    background-color: white;
    color: black;
  }
}