.navigation {
  height: 70px;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  @media screen and (max-width: 800px) {
    height: 60px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .logo-container {
    height: 100%;
    width: 70px;

    @media screen and (max-width: 800px) {
      width: 50px;
      padding: 0;
    }
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media screen and (max-width: 800px) {
      width: 80%;
    }

    .nav-link {
      padding: 10px 15px;
      text-decoration: none;
      color: darkgrey;
      cursor: pointer;
    }

    .shopping-bag {
      width: 30px;
      padding-left: 10px;
    }
  }

  .cart-dropdown-bg {
    position: absolute;
    top: 70px;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 5;
    background-color: transparent;
  }
}
