.header {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    .logo-wrapper {
        height: 100%;
        width: 70px;
        padding: 25px;
    }

    .header-item-wrapper {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 20px;

        .header-item {
            padding: 10px 15px;
            text-decoration: none;
            color: darkgrey;
            cursor: pointer;
        }

        .shopping-bag {
            width: 30px;
            padding-left: 10px;
        }
    }
}
